body {
  overscroll-behavior: none;
  -webkit-font-smoothing: antialiased;
  color:white;
}

* {
  margin: 0;
  padding: 0;
}

#container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 49;
}

canvas {
  position: absolute;
  left: 0;
  top: 0;
}
